*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

 .heading{
    color: #2C62D2;
}

ul{
    list-style: none;
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: 'Itim', cursive;
}
.logo{
    margin-left: 100px;
    height: 45px;
}
.our_navbar{
    background-color: #245CD1;
}
nav .nav-item .nav-link{
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

/*particl*/
#particles-js{
    position: absolute;
    height: 95vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
 /*Hero section*/
 .hero_section span{
    color: blueviolet; 
    font-size: 20px; 
    text-align: center;

 }
 
 #hero_section{
     margin-top: 100px;
 }
 #social-icons{
     
     margin-left: -30px;
 }
 #social-icons li {
     display: inline-block;
     height: 40px;
     width: 40px;
     background: #000;
     transition: .6s;
     -webkit-transition: .6s;
     -moz-transition: .6s;
     -ms-transition: .6s;
     -o-transition: .6s;
}
 #social-icons li a{
     padding: 10px;
     line-height: 2;
     font-size: 20px;
     color: #fff;

 }

 #social-icons li:nth-child(1){
     background-color: #1877F2;
 }
 #social-icons li:nth-child(2){
    background-color: #1DA1F2;
}
#social-icons li:nth-child(3){
    background-color: #4078c0;
}
#social-icons li:nth-child(4){
    background-color: #CD201F;
}
#social-icons li:nth-child(5){
    background-color: #0A66C2;
}
 /*animtion*/
 .img{
     animation-name: Our_animation;
     animation-duration: 10s;
     animation-iteration-count: infinite;
 }
 @keyframes Our_animation {
        0% {
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
    }
        10% {
            transform: scale(.9);
            -webkit-transform: scale(.9);
            -moz-transform: scale(.9);
            -ms-transform: scale(.9);
            -o-transform: scale(.9);
        }
        20%{
                transform: scale(.8);
                -webkit-transform: scale(.8);
                -moz-transform: scale(.8);
                -ms-transform: scale(.8);
                -o-transform: scale(.8);
        }
        30% {
            transform: scale(.7);
            -webkit-transform: scale(.7);
            -moz-transform: scale(.7);
            -ms-transform: scale(.7);
            -o-transform: scale(.7);
    }
        40%{
                transform: scale(.8);
                -webkit-transform: scale(.8);
                -moz-transform: scale(.8);
                -ms-transform: scale(.8);
                -o-transform: scale(.8);
    }
        50% {
            transform:scale(.9);
            -webkit-transform:scale(.9);
            -moz-transform:scale(.9);
            -ms-transform:scale(.9);
            -o-transform:scale(.9);
    }
        60% {
            transform: scale(.95);
            -webkit-transform: scale(.95);
            -moz-transform: scale(.95);
            -ms-transform: scale(.95);
            -o-transform: scale(.95);
    }
        70% {
            transform:scale(.9);
            -webkit-transform:scale(.9);
            -moz-transform:scale(.9);
            -ms-transform:scale(.9);
            -o-transform:scale(.9);
    }
    80% {
        transform: scale(.8);
        -webkit-transform: scale(.8);
        -moz-transform: scale(.8);
        -ms-transform: scale(.8);
        -o-transform: scale(.8);
    }
    90% {
        transform: scale(.9);
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -o-transform: scale(.9);
    }
    100% {
    transform: scale(.98);
    -webkit-transform: scale(.98);
    -moz-transform: scale(.98);
    -ms-transform: scale(.98);
    -o-transform: scale(.98);
    }
     
 }

 hr{
    background: #2196F3;
  
 }

 /*slider section*/


 .pic{
     height: 400px;
     width: 600px;
 }
 .about-head{
     
     color:#2C62D2;
    margin-left: 370px;

 }
/*navbar*/
#navbarNav .nav-item a:hover{
color:black;
}



.introduction{
    border: 1px solid #dddddd  ;
    border-radius: 3px;
    height: 248px;
    width: 554px;
    margin-top: -8px;


}
.introduction p{
    font-size: 14px;
}
/*about section*/

#about_section ul{
justify-content:center ;
}

#about_section ul li{
    display: inline-block;
    color: black;
    margin-top: 8px;   
}
#about_section ul li span{
    background:blue;
    color:#fff;  
    padding: 2px;
}

#about_section nav button {
color: blue;
  
}
#about_section nav button:hover {
    color:black;
      
    }
#about_section table a{
    text-decoration: none;
}
#about_section .pos_content{
   position: absolute;
   right: 0;
   bottom:0;
   background: #6D214F;
   color:#fff;
   padding: 10px;
   border-top-left-radius: 5px;
       
 }
  #nav-skill{
 
 background: #F8EFBA;
 
  }

/*services*/
.services-secton .row .card-1{
    background-color: #CBF4DD;
}
.services-secton .row .card2{
    background-color: #FEDEC7;
}
.services-secton .row .card3{
    background-color: #CBF4DD;
}
.services-secton .row  .card4{
    background-color: #FEDEC7;
}
.services-secton .row  .card5{
    background-color: #CBF4DD;
}
.services-secton .row  .card6{
    background-color: #FEDEC7;
}
.services-secton{
    background-color: #FDFAEA;
    text-align: center;
}
 .heading{
    color: #2C62D2;
}

.services-secton .card{
  
   width: 357px;
   height: 280px;
   border-radius: 7px;
   border: none;
}

.services-secton .card .img-box{
    height: 90px;
    width: 90px;
    margin: 0 auto;
    padding: 15px;
    border: 2px dotted #1B9CFC;

}

/*section portfolio*/

.portfolio{
    background-color: #F8EFFB;
    margin-top: 30px;
}
.portfolio .p-img{
    padding: 20px;
}
.portfolio-section .title-h5{
    color: #986185; 
    font-size: 16px; 
    
}
.portfolio-section .text-h5{
    font-size: 20px; 
    font-weight: 600;
   
}

.portfolio-section .card{
    background-color: #F8EFFB;
    width: 357px;
    height: 330px;
    border-radius: 7px;
    border: 1px solid #D9D1DC;
    box-shadow: 0px 10px;
    transition: .6s;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.portfolio-section .p-btn{
    background-color: transparent;
    border: 1px solid #17A2B8;
    height: 38px;
    width: 300px;
    font-weight: 500; 
    color: #17A2B8;
    margin-top: -10px; 
    
}


.portfolio-section .card:hover{
    box-shadow: none;
    transition-duration:.8s;
    
}

.portfolio-section .p-btn:hover{
    background-color: #17A2B8;
    color: #fff;
    transition-duration:.8s;
}
.portfolio-section .btnMore{
    border: 1px solid #17A2B8;
    font-size: 18px;
    font-weight: 500;
    color: #17A2B8;
    height: 50px;
    width: 150px;
    padding: 11px;

}

.portfolio-section .btnMore:hover{
    
    background-color: #17A2B8;
    color: #fff;
    

}

/*programming section*/
.programing-section{
    background-color: #FFE1F4;
}
.programing-section .row h5{
    padding: 11px;
    background-color: #F7DAEC;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 3px;
    
}
.programing-section .row h2{
background:#F7DAEC;
}
.programing-section .row .tableBg{
background:#F7DAEC ;}
.programing-section .row .btn{
    background-color: #17a2b8;
    color: #fff;
    width: 200px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
}

.programing-section .row .btn:hover{
    background-color: #138496;
}
.accordion-button::after{
color: #fff;}
.programing-section table a{
text-decoration: none;}



/*Gallery secton*/



.photo-gallery row{
    display: flex;
    

}
.photo-gallery .img-box .g-img{
    height: 200px;
    width: 600px;
    
}

/*counter section*/
.counter-section{
    background-color: #245CD1;
}

.counter-section .emoji-box {
    color: #fff;
    font-size: 25px;
}
.counter-section .counter-box{
    color: #fff;
}

.counter-section p{
    color: #fff;
    font-size: 18px;
    
}
 

/*contact section*/

  
#contact {
    margin-top: 25px;
    position: relative;
  }
  #contact .bg {
    padding: 60px 0;
    height: 510px;
  }
  #contact .bg_content {
    padding: 0px;
    background: red;
    position: absolute;
    left: 5%;
    color: #fff;
  }
  #contact .bg_content h5 {
    font-size: 15px;
    font-weight: 500;
    margin: 0px;
    padding: 0;
  }
  #contact .bg_content span {
    font-size: 13px;
    font-weight: 400;
    margin: 0px;
    padding: 0;
  }
  #contact .contact_media {
    margin: 5px 0;
  }
  #contact .socal_links {
    margin-right: 100px;
  }
  #contact .socal_links ul {
    display: flex;
    margin-top: 15px;
  }
  
  #contact .socal_links ul li {
    margin: 0 5px;
    width: 50px;
    padding: 10px 15px;
    background: #5e89e3;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    transition: 0.6s;
  }
  #contact .socal_links ul li:hover {
    transform: scale(0.9);
  }
  #contact .socal_links ul li a {
    color: #fff;
  }
  #contact .socal_links ul li:first-child {
    margin-left: 0;
  }
  #contact form {
    padding-top: 15px;
  }
  #contact .form-control::placeholder {
    font-size: 12px;
  }
  #contact form > div {
    margin: 15px 0;
  }

/*Footer section*/
#link_section{
    background: #293044;
    color: #fff;
    padding: 70px 0;
}
#link_section h4{
    margin-bottom: 10px;
    letter-spacing: 1px;
}
#link_section .links ul li i{
    font-size: 10px;
    color: #ccc;
    margin-right: 5px;
}
#link_section .links ul li a{
    color: #ccc;
    font-size: 14px;
    text-decoration: none;
}
footer{
    padding: 25px 0;
    color: #ccc;
    background: #0E1833;
}
footer span{
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 100;
}
footer span b{
    color: #e74c3c;
    font-size: 15px;
}

/*scroll*/
#scroll_top{
    background-color:#777777;
    height: 40px;
    width: 40px;
    color: #fff;
    padding: 9px 15px;
    position: fixed;
    bottom: 1%;
    right: 1%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;











